{% extends "base.html" %} <!-- This page will inherit from my base html-->

{% block title %}
Catalog -- Categories
{% endblock %}

{% block categories %}
{% endblock %}

{% block login %}
{% endblock %}


{% block content %}

	<main>
		

		<article class="article">
			<header class="main-header">
				<h1>Welcome</h1>
				<p>This is an application that provides a list of items within a variety of categories as well as provide a user registration and authentication system. Though registered users can post and view other users items, they will have the ability to edit and delete only their own items.</p>
			</header>
			<section>
				<h2>Categories</h2>
			</section>
			<section>
				{% with messages = get_flashed_messages() %}
					{% if messages %}
					<ul>
						{% for message in messages %}
							<li><strong>{{ message }}</strong></li>
						{% endfor %}
					</ul>
					{% endif %}
				{% endwith %}
			</section>
			<section class="categories">
				{% for category in categories %}
				<ul class="category">
					<a href="{{url_for('showCategoryItem', category_name=category.name)}}">
						<li><h3>{{category.name}}</h3></li>
					</a><span>Created by {{ category.user.name }}</span>
				</ul>
				{% endfor %}
			</section>
		</article>
		
		

		<aside>
			<h3>Recently added items</h3>
			{% if recentItems %}
				{% for items in recentItems %}
				<ul class="item-list">
					<li>{{ items.name }}<span class="item-list-category">({{items.category.name}})
				</ul>
				{% endfor %}
			{% else %}
				No items yet!
			{% endif %}
		</aside>

</main>

{% endblock %}


	