{% extends "base.html" %}

{% block title %}
Catalog -- Edit Category
{% endblock %}

{% block addACategory %}
{% endblock %}

{% block login %}
{% endblock %}

{% block content %}

	<section>
		<h2>Edit Category</h2>
			<article>
				<form action="{{url_for('editCategory', category_name=category_name)}}" method='post'>
					<label>Name:</label>
					<input type="text" size="30" name="name" value="{{category.name}}">
					<span><input type="submit", value="Submit">
				</form>
					<a href="{{url_for('showCategoryItem', category_name=category_name)}}">Cancel</a></span>
			</article>
	</section>

{% block sidebar %}
{% endblock %}

{% endblock %}