{% extends "base.html" %}

{% block title %}
Catalog -- Category
{% endblock %}

{% block addACategory %}
{% endblock %}

{% block logout %}
{% endblock %}

{% block content %}

<main>
	<article>
		<section>
			<h2>{{ category.name }} items ( {{items|length}} items )
				<figure class="creator"> 
					<img src={{ creator.picture }}>
					<figcaption>{{ creator.name }}</figcaption>
				</figure>
			</h2>
		</section>
		<section>
			{% with messages = get_flashed_messages() %}
				{% if messages %}
					<ul>
						{% for message in messages %}
							<li><strong>{{ message }}</strong></li>
						{% endfor %}
					</ul>	
				{% endif %}
			{% endwith %}
		</section>
		<section class="category-item">
			{% for item in items %}
				<a href="{{url_for('displayCategoryItem', category_name=category_name, item_name=item.name)}}">
					<h3>{{item.name}}</h3>
				</a>
			{% endfor %}
		</section>
	</article>
</main>


{% endblock %}